
@{
    ViewBag.Title = "Confirmacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registro exitoso</h1>
<br>
<h3>Revisa la bandeja de entrada de tu correo y confirma tu cuenta accediendo al link.</h3>
@Html.ActionLink("Back to List", "Index")
