
@{
    ViewBag.Title = "Gracias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gracias por ponerte en contacto</h1>
<p>Revisa tu bandeja de entrada de tu correo.</p>
@Html.ActionLink("Back to List", "Index")
